.main {
    height: 100vh;
    width: 400px;

    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 99999;
    right: 0;
    top: 0;

    background-color: var(--color-text-light);
    color: black;

    transition: transform 0.2s;

    -webkit-box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.75);
}

.enabled {
    transform: translateX(0);
}

.disabled {
    transform: translateX(100%);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 32px;
    height: 32px;

    cursor: pointer;

    background-color: var(--color-foreground);
    color: var(--color-text);

    border: none;
}

.title, .products, .total {
    padding: 16px;
}

.title, .total {
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
    height: 64px;
    vertical-align: middle;
    background-color: var(--color-background);
    color: var(--color-text-alt);
}

.products {
    overflow-y: auto;
    flex: 1;
}

@media (max-width: 600px) {
    .main {
        width: 100%;
    }
}