.main {
    align-items: center;
    justify-content: center;

    text-align: center;
}

.icon {
    width: 32px;
    height: 32px;
    filter: invert();
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 8px;
}