.disabledLink {
    pointer-events: none;
    cursor: default;
    color: var(--color-mid);
    text-decoration: none;
}

.enabledLink, .enabledLink:visited {
    color: var(--color-text);
    text-decoration: none;
}

.enabledLink:hover {
    text-decoration: underline;
}

.enabledLink:active {
    color: var(--color-mid);
}