.container {
    display: flex;
    flex-direction: column;

    justify-self: center;
    align-self: center;

    width: 100%;
    height: 100%;

    padding: 32px 128px;
}

.select {
    width: fit-content;

    font-size: 2rem;

    flex: auto;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pages * {
    width: 64px;
    height: 64px;

    font-size: 2rem;

    border-radius: 50%;
    border: none;
}

.pages *:not(:disabled):hover {
    background-color: grey;
}