.splashImage {
    width: 100%;
    height: auto;

    filter: blur(3px);
}

.splashContainer {
    position: relative;

    width: 100%;
    max-height: 800px;
    overflow: hidden;
}

.credit {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    
    color: var(--color-text-alt);
    background-color: var(--color-background);

    padding: 8px;
    border-radius: 16px;

    text-wrap: nowrap;
}