:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;

  --color-foreground: #020617;
  --color-text: #f8fafc;
  --color-text-alt: #0f172a;
  --color-text-light: #cbd5e1;
  --color-background: #e2e8f0;
  --color-mid: #475569;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: var(--color-mid);
  color: var(--color-text);
}